/* 
UL transparente
SVG color y animacion X
Position absolute en movil
*/
 
/* 
01 - Estructura Basica, colores, variables, estilos esteticos
02 - Highlight la pagina activa, color y margen bottom en lugar de text decoration
03 - Añadir Landmark
*/
 
a {
  color: inherit;
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Segoe UI, system-ui, -apple-system, sans-serif;
  font-size: 1.6rem;
}
 

/* HEADER - lista nav viene despues*/
@media (min-width: 65rem) {
  header {
    --flex-direction-row: row;
  }

}

header {
  display: flex;
  flex-direction: var(--flex-direction-row, column);
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

/* NAV section */

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}